* {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  width: 80%;
  margin: 40px auto 0;
}

.child {
  float: left;
  position: relative;
  width: 50%;
  border-bottom: 2px solid black;
}
.child:nth-child(1),
.child:nth-child(2) {
  border-top: 2px solid black;
}
.child:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  background: black;
}

.child h1 {
  padding: 2px 0 0 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}
.child .eisenhower--content {
  overflow-y: scroll;
  height: 200px;
}
.child p {
  padding: 2px 0 0 10px;
}
